extends layout.pug

block styles
  link(rel='stylesheet', href='/static/css/foundation.css')
  link(rel='stylesheet', href='/static/css/style.css')
  style.
    .portfolio-me { background-color: #{project.color_alt}; }
    .portfolio-me p {  color:#d6eff6 !important; }

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= project.project_name
        p.lead.text-light= project.description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each tech in project.technologies
            li= tech
        if (project.live_link)
          a.button.expanded(href=`${project.live_link}`, target='_blank', style=`background-color:${project.color}`) Live Demo
        a.button.expanded(href=`${project.github_link}`, target='_blank') GitHub Repo

    each img_url in project.image_urls
      a(href=`${project.live_link}`, target='_blank', title='Click for Live Demo')
        img.image(src=`${img_url.replace("upload/", "upload/c_scale,w_1200,")}`)
